.button {
    display: flex;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--grey-bg-color);
}

.button:active {
    border: 1px solid var(--dark-text-color)
}



.text {
    margin-left: 5px;
    font-weight: 500;
}