.container {
  display: inline-block;

  margin-top: 50px;

  width: 350px;
  border-radius: 10px;
  background: var(--white-color);
  padding: 40px 25px 40px 25px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.titleFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}


.text {
  margin-bottom: 40px;
  font-size: 10px;
  color: var(--grey-text-color);
}

.span {
  font-weight: 500;
  color: var(--dark-text-color)
}

.flexBtn {
  display: flex;
  justify-content: space-between;
}
