.container {
  display: inline-flex;
  align-items: center;

  margin-top: 50px;

  width: 350px;
  border-radius: 10px;
  background: var(--green-color);
  padding: 40px 25px 40px 25px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 10px;
  margin-left: 20px;
  width: 200px;
  color: var(--dark-text-color);
}
